<div class="user_wrap">
  <p><a href="#">로그아웃</a></p>  <!-- 로그아웃되게 해주세요.... -->
  <div class="user_logo"></div>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <a href="#">주문하기</a>
      <a href="#">주문내역</a>
      <a href="#">사용법</a>
      <hr>
    </ul>
  </nav>
</div>