<div class="user_wrap">
  <p><a href="#">로그아웃</a></p>  <!-- 로그아웃되게 해주세요.... -->
  <div class="user_logo"></div>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <a href="#">주문하기</a>
      <a href="#">주문내역</a>
      <a href="#">사용법</a>
      <hr>
    </ul>
  </nav>
</div>

<div class="order-history">
  <section class="order-history-table">
    <li>No.3</li>  <!-- 테이블 정보를 받아서 그수 를 출력-->
  </section> <!-- order-history-table-->

  <section class="order-history-menu"><ul>
    <li class="order-history-menu-top">주문한 메뉴</li>
  </ul>
    <section class="order-history-menu-bottum">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
      </ul>
    </section><!--order-history-menu-bottum-->

    <section class="order-history-menu-bottum-total"><ul>
      <li>총        합</li>
    </ul>
    </section><!--order-history-menu-bottum-total-->

  </section><!--order-history-menu-->

  <section class="order-history-price"><ul>
    <li class="order-history-menu-price">가격</li>
  </ul>
    <section class="order-history-price-bottum">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
      </ul>

    </section><!--order-history-price-bottum-->
    <section class="order-history-price-bottum-total">
      <ul>
        <li>30000</li>
      </ul>
    </section><!--order-history-menu-bottum-total-->


  </section><!--order-history-price-->

</div> <!-- order-history-->