<div class="operator_wrap">
  <p><a href="#">로그아웃</a></p>  <!-- 로그아웃되게 해주세요.... -->
  <div class="operator_logo"></div>
  <nav class="operator_bar_nav">
    <ul class="operator_bar_list">
      <hr>
      <a href="#">테이블 현황</a>
      <a href="#">테이블 생성</a>
      <a href="#">메뉴 생성</a>
      <a href="#">사용법</a>
      <hr>
    </ul>
  </nav>
  <section class="creat_menu_section">
    <article class=""></article>
  </section><!-- kpu section end -->
</div>