<div class="operator_wrap">
  <p><a href="#">로그아웃</a></p>  <!-- 로그아웃되게 해주세요.... -->
  <div class="operator_logo"></div>
  <nav class="operator_bar_nav">
    <ul class="operator_bar_list">
      <hr>
      <a href="#">테이블 현황</a>
      <a href="#">테이블 생성</a>
      <a href="#">메뉴 생성</a>
      <a href="#">사용법</a>
      <hr>
    </ul>
  </nav>

  <section class="create_menu_section"><!-- 상단바 밑 전체 화면 -->

    <div class="add_menu_click">
      <%= image_tag "Add-icon.png", class: "plus_icon" %>
      메뉴 추가
    </div><!-- add_menu_click end -->

    <div class="add_menu_detail">
      <table>
        <tr>
          <input type="file">
        <tr>
          <td>메뉴명 :</td>
          <td><input type="text"></td>
        </tr>
      </table>
    </div><!-- add_menu_detail end -->


  </section><!-- kpu section end -->
</div>