<div class="operator_wrap">
  <div class="operator_logo"></div>
  <nav class="operator_bar_nav">
    <ul class="operator_bar_list">
      <hr>
      <li>테이블 현황</li>
      <li>테이블 생성</li>
      <li>메뉴 생성</li>
      <li>사용법</li>
      <hr>
    </ul>
  </nav>
</div>