
<div class="operator_wrap">
  <p><a href="#">로그아웃</a></p>
  <div class="operator_logo"></div>
  <nav class="operator_bar_nav">
    <ul class="operator_bar_list">
      <hr>
      <a href="#">테이블 현황</a>
      <a href="#">테이블 생성</a>
      <a class="menu_icon" href="#">메뉴</a>
      <a href="#">사용법</a>
      <hr>
    </ul>
    <ul class="menu_bar">
      <div class="test">
        <a href="#">메뉴 생성</a>
        <a href="#">메뉴 수정</a>
        <a href="#">메뉴 삭제</a>
      </div>
    </ul>

  </nav>
  <section class="delete_menu_section"><!-- 상단바 밑 전체 화면 -->
    <h1>메뉴 삭제</h1>


    <div class="delete_box">

      <div class="delete_menu_click">
        <%= image_tag "Recyclebin.png", class: "delete_icon" %>
        메뉴 삭제
      </div><!-- delete_menu_click end -->
    </div>

  </section>
</div>