<div class="login_wrap">
  <header class="logo"></header>
  <section class="login_display">
    <input class="key_input" type="text" placeholder="key">
    <p>
      <input class="pw_input" type="password" placeholder="password" >
    <p>
      <input class="submit_input" type="submit"  value="로그인">
  </section> <!-- login_display end -->
</div> <!-- login_wrap end -->