<div class="register_wrap">
  <header class="register_logo"></header>
  <section class="register_display">
    아이디 : <input class="ID_register" type="text" >
    <p>
    비밀번호 : <input class="pw_register" type="password" >
    <p>
    비밀번호 확인 : <input class="pw_check" type="password">
    <p>
      <input type="submit" value="다음">
  </section> <!-- login_display end -->
</div> <!-- login_wrap end -->