<div class="register_wrap">
  <header class="register_logo"></header>
  <section class="register_display">

    <table>
      <tr>
        <td>학교 </td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td>학과 </td>
        <td><input type="text"></td>
      </tr>

    </table>

    <input class="submit_register" type="submit" value="회원가입">
  </section> <!-- login_display end -->
</div> <!-- login_wrap end -->