<form action="/operators/second_create" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="register_wrap">
    <header class="register_logo"></header>
    <section class="register_display">

      <table>
        <tr>
          <td>학교 </td>
          <td><input type="text" name="uni"></td>
        </tr>
        <tr>
          <td>학과 </td>
          <td><input type="text" name="major"></td>
        </tr>

      </table>

      <input class="submit_register" type="submit" value="완료">
    </section> <!-- login_display end -->
  </div> <!-- login_wrap end -->
</form>