<section class="main-login">

  <ul class="main-login-here">

    <li>로그인</li>
    <li>회원가입</li>
  </ul>

</section>

<header class="main-logo">
  <div class="main-logo-left"></div>
  <div class="main-logo-mid"></div>
  <div class="main-logo-right"></div>

</header>



<nav class="main-menu">
  <ul class = "main-menu-item">
    <li></li>
    <li></li>
    <li>주문하기</li>
    <li>주문내역</li>
    <li>사용법 영상</li>
  </ul>
</nav>


<section class="video">

  <iframe width="668" height="376" src="https://www.youtube.com/embed/3MRvKJZEd6w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</section>