<div class="order_wrap">
  <div class="order_logo"></div>
  <nav class="order_bar_nav">
    <ul class="order_bar_list">
      <hr>
      <li>주문하기</li>
      <li>주문내역</li>
      <li>사용법</li>
      <hr>
    </ul>
  </nav>
</div>