<div class="user_wrap">
  <div class="user_logo"></div>
  <nav class="user_bar_nav">
    <ul class="user_bar_list">
      <hr>
      <li>주문하기</li>
      <li>주문내역</li>
      <li>사용법</li>
      <hr>
    </ul>
  </nav>
</div>