// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login_wrap
{
  margin:40px auto 0;
  width:1000px;
  height:800px;


  .logo{
    width:185px;
    height:120px;
    display:block;
    margin: auto auto;
    position:relative;
    background : url(11111.jpg) no-repeat;
  }

  .login_display {
    margin: 30px auto 0;
    height: 200px;
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;
  }

  .login_display {
    margin: 20px auto 0;
    height: 200px;
    text-align: center;
    font-family: 'Sawarabi Mincho', sans-serif;

    input{
      margin-bottom:10px;
    }
    .submit_input{
      margin-top:10px;
    }
    input::placeholder{
      font-family: 'Sawarabi Mincho', sans-serif;
      font-size: small;
    }
  }

}
