.register_wrap {
  margin: 40px auto 0;
  width: 1000px;
  height: 800px;

  .register_logo {
    width: 185px;
    height: 120px;
    display: block;
    margin: auto auto;
    position: relative;
    background: url(11111.jpg) no-repeat;
  }
  .register_display {
    margin: 20px auto 0;
    width: 250px;
    height: 230px;
    text-align: center;
    font-size: small;

    table{

      td{
        padding-left:25px;
        padding-bottom:20px;

      }

    }
  }
}