





// Place all the styles related to the operators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.operator_wrap {
  margin: 0 auto;
  width: 1000px;
  height: 800px;
  p {
    float: right;
    margin-top: 10px;
    a {
      color: #000000;
      font-weight: bold;
    }
  }

  .operator_logo {
    width: 185px;
    height: 120px;
    display: block;
    margin: auto auto;
    position: relative;
    background: url(22222.jpg) no-repeat;
  }

  .operator_bar_nav {
    width: 100%;
    text-align: center;

    .operator_bar_list {
      height: 40px;
      line-height: 40px
    }
  }

  .operator_bar_list {
    a {
      display: inline;
      margin-right: 35px;
      margin-left: 35px;
      font-family: 'Do Hyeon', sans-serif;
      color: #000000;
      font-size: medium;

    }
  }

  .create_menu_section {
    margin-top: 30px;
    width: 1000px;
    height: 700px;
    text-align: center;

    .add_menu_click {
      width: 100px;
      height: 130px;
      outline: none;
      cursor: pointer;
      font-family: 'Do Hyeon', sans-serif;
      .plus_icon {
        width: 100px;
        height: 100px;
      }

    }

    .add_menu_detail {
      display: none;
      height: 200px;
      text-align: left;
      table {
        td {
          padding-top: 10px;
        }
      }
    }

  }
  }
/////////////////////

  .register_wrap {
    margin: 40px auto 0;
    width: 1000px;
    height: 800px;

    .register_logo {
      width: 185px;
      height: 120px;
      display: block;
      margin: auto auto;
      position: relative;
      background: url(22222.jpg) no-repeat;
    }
    .register_display {
      margin: 20px auto 0;
      width: 250px;
      height: 230px;
      text-align: center;
      font-size: small;

      table{
        td{
          padding-left:25px;
          padding-bottom:20px;
        }

      }
    }
  }





