// Place all the styles related to the operators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the operators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.register_wrap {
  margin: 40px auto 0;
  width: 1000px;
  height: 800px;

  .register_logo {
    width: 185px;
    height: 120px;
    display: block;
    margin: auto auto;
    position: relative;
    background: url(22222.jpg) no-repeat;
  }
  .register_display {
    margin: 20px auto 0;
    width: 250px;
    height: 230px;
    text-align: center;
    font-size: small;

    table{
      td{
        padding-left:25px;
        padding-bottom:20px;
      }

    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////

.operator_wrap {
  margin: 0 auto;
  width: 1000px;
  height: 200px;
  p{
    float:right;
    margin-top:10px;
    a{
      color : #000000;
      font-weight: bold;
    }
  }

  .operator_logo {
    width: 185px;
    height: 120px;
    display: block;
    margin: auto auto;
    position: relative;
    background: url(22222.jpg) no-repeat;
  }

  .operator_bar_nav
  {
    width:100%;
    text-align :center;

    .operator_bar_list
    {
      height:40px;
      line-height:40px
    }
  }

  .operator_bar_list
  {
    a
    {
      display : inline;
      margin-right:35px;
      margin-left:35px;
      font-family: 'Do Hyeon', sans-serif;
      color : #000000;
      font-size:medium;


    }
  }
}

#operators_create_menu{

}
//////////////////////////////////////////////////////////////////////////////////////////////////





.table-status{
  margin-top: 10px;
  width : 100%;
  height : 500px;
  .table-status-left{

    float: left;
    width : 20%;
    height : 500px;
    background: yellow;
    text-align: center;

    li {
      padding-bottom:5px;
      color: white;
      font-family: 'Jua', sans-serif;
      font-size:  30px;
      margin-top: 20px;

    }
    li:hover{
      border-bottom : 2px solid #cfcfcf;

    }


  }

  .table-status-left
  {
    li
    {
      a
      {
        padding-bottom:5px;
        color: white;
        font-family: 'Jua', sans-serif;
        font-size:  30px;
        margin-top: 20px;
      }

      a:hover
      {
        border-bottom : 2px solid #cfcfcf;
      }
    }

  }

  .table-status-middle{
    float: left;
    width : 80%;
    height : 500px;
    background: blue;


    .table-num1
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }

    .table-num2
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }

    .table-num3
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }

    .table-num4
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }

    .table-num5
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }

    .table-num6
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }
    .table-num7
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }
    .table-num8
    {

      margin: 20px;
      width: 20%;
      height: 200px;
      background: forestgreen;
      float: left;
      a{
        height: 100%;
        width: 100%;
      }

    }




    &::after {
      content: '';
      display: block;
      clear: both;
    }



  }

}



