// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD


.order_wrap {
  margin: 0 auto;
  width: 1000px;
  height: 800px;

  .order_logo {
    width: 185px;
    height: 120px;
    display: block;
    margin: auto auto;
    position: relative;
    background: url(22222.jpg) no-repeat;
  }

  .order_bar_nav
  {
    width:100%;
    text-align :center;

    .order_bar_list
    {
      height:40px;
      line-height:40px
    }
  }

  .order_bar_list
  {
    li
    {
      display : inline;
      margin-right:35px;
      margin-left:35px;
      font-family: 'Do Hyeon', sans-serif;
      li:hover
      {
        border-bottom:3px solid #cfcfcf; //아랫줄만 적용됨 solid외에 dotted 등등
      }
      a
      {
        color : #000000;
      }
    }
  }



}


=======
>>>>>>> fdcc6c18bb4eebb4b0371b244b1c730a22bd19f1
